USE [master]
GO
/****** Object:  Database [PizzaDb]    Script Date: 2020-01-24 01:51:17 ******/
CREATE DATABASE [PizzaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PizzaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PizzaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PizzaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PizzaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PizzaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PizzaDb]
GO
/****** Object:  Schema [Logic]    Script Date: 2020-01-24 01:51:18 ******/
CREATE SCHEMA [Logic]
GO
/****** Object:  Schema [Orders]    Script Date: 2020-01-24 01:51:18 ******/
CREATE SCHEMA [Orders]
GO
/****** Object:  Schema [Pizza]    Script Date: 2020-01-24 01:51:18 ******/
CREATE SCHEMA [Pizza]
GO
/****** Object:  Schema [Store]    Script Date: 2020-01-24 01:51:18 ******/
CREATE SCHEMA [Store]
GO
/****** Object:  Schema [Users]    Script Date: 2020-01-24 01:51:18 ******/
CREATE SCHEMA [Users]
GO
/****** Object:  Table [Logic].[Logins]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Logic].[Logins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](128) NOT NULL,
	[password] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Orders].[Orders]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orders].[Orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[storeid] [int] NOT NULL,
	[userid] [int] NOT NULL,
	[price] [smallmoney] NOT NULL,
	[ordertime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Orders].[Pizza]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orders].[Pizza](
	[orderId] [bigint] NOT NULL,
	[pizzaNum] [int] NOT NULL,
	[crustId] [smallint] NOT NULL,
	[size] [smallint] NOT NULL,
	[price] [smallmoney] NOT NULL,
 CONSTRAINT [PK_OrderedPizza] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC,
	[pizzaNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Orders].[PizzaToppings]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orders].[PizzaToppings](
	[orderId] [bigint] NOT NULL,
	[pizzaNum] [int] NOT NULL,
	[toppingId] [smallint] NOT NULL,
	[amount] [tinyint] NOT NULL,
 CONSTRAINT [PK_PizzaToppings] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC,
	[pizzaNum] ASC,
	[toppingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pizza].[Crust]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pizza].[Crust](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [char](30) NOT NULL,
	[description] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Pizza].[Prebuilt]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pizza].[Prebuilt](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[crustId] [smallint] NOT NULL,
	[name] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pizza].[PrebuiltToppings]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pizza].[PrebuiltToppings](
	[prebuiltId] [smallint] NOT NULL,
	[toppingId] [smallint] NOT NULL,
	[amount] [tinyint] NOT NULL,
 CONSTRAINT [PK_COMPOSITE] PRIMARY KEY CLUSTERED 
(
	[prebuiltId] ASC,
	[toppingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pizza].[Size]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pizza].[Size](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pizza].[Topping]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pizza].[Topping](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Store].[CrustInventory]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Store].[CrustInventory](
	[StoreId] [int] NOT NULL,
	[Crustid] [smallint] NOT NULL,
	[amount] [int] NULL,
 CONSTRAINT [PK_StorexCrust] PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC,
	[Crustid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Store].[Location]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Store].[Location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Store].[Prebuilt]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Store].[Prebuilt](
	[StoreId] [int] NOT NULL,
	[PrebuiltId] [smallint] NOT NULL,
 CONSTRAINT [AK_Prebuilt_Column] PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC,
	[PrebuiltId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Store].[Store]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Store].[Store](
	[id] [int] NOT NULL,
	[name] [varchar](128) NOT NULL,
	[location] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Store].[ToppingInventory]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Store].[ToppingInventory](
	[StoreId] [int] NOT NULL,
	[ToppingId] [smallint] NOT NULL,
	[amount] [int] NULL,
 CONSTRAINT [PK_StorexTopping] PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC,
	[ToppingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Users].[Users]    Script Date: 2020-01-24 01:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users].[Users](
	[id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Logic].[Logins] ON 

INSERT [Logic].[Logins] ([id], [username], [password]) VALUES (1, N'pizzaPizza', N'pizza')
INSERT [Logic].[Logins] ([id], [username], [password]) VALUES (2, N'jacobdf', N'password')
INSERT [Logic].[Logins] ([id], [username], [password]) VALUES (3, N'bento', N'12345')
SET IDENTITY_INSERT [Logic].[Logins] OFF
SET IDENTITY_INSERT [Orders].[Orders] ON 

INSERT [Orders].[Orders] ([id], [storeid], [userid], [price], [ordertime]) VALUES (5, 1, 2, 12.0000, CAST(N'2020-01-22T09:58:49.433' AS DateTime))
INSERT [Orders].[Orders] ([id], [storeid], [userid], [price], [ordertime]) VALUES (7, 1, 3, 10.0000, CAST(N'2020-01-23T11:18:40.257' AS DateTime))
INSERT [Orders].[Orders] ([id], [storeid], [userid], [price], [ordertime]) VALUES (8, 1, 2, 10.0000, CAST(N'2020-01-23T23:44:34.513' AS DateTime))
SET IDENTITY_INSERT [Orders].[Orders] OFF
INSERT [Orders].[Pizza] ([orderId], [pizzaNum], [crustId], [size], [price]) VALUES (5, 1, 1, 4, 12.0000)
INSERT [Orders].[Pizza] ([orderId], [pizzaNum], [crustId], [size], [price]) VALUES (7, 1, 1, 4, 10.0000)
INSERT [Orders].[Pizza] ([orderId], [pizzaNum], [crustId], [size], [price]) VALUES (8, 1, 1, 4, 10.0000)
INSERT [Orders].[PizzaToppings] ([orderId], [pizzaNum], [toppingId], [amount]) VALUES (5, 1, 118, 1)
INSERT [Orders].[PizzaToppings] ([orderId], [pizzaNum], [toppingId], [amount]) VALUES (5, 1, 119, 1)
INSERT [Orders].[PizzaToppings] ([orderId], [pizzaNum], [toppingId], [amount]) VALUES (7, 1, 118, 1)
SET IDENTITY_INSERT [Pizza].[Crust] ON 

INSERT [Pizza].[Crust] ([id], [name], [description]) VALUES (1, N'Regular                       ', N'Regular crust, extraordinary pizza')
INSERT [Pizza].[Crust] ([id], [name], [description]) VALUES (2, N'Thin                          ', N'Thin, crispy crust')
INSERT [Pizza].[Crust] ([id], [name], [description]) VALUES (3, N'Deep-dish                     ', N'Deep-dish pan pizza')
SET IDENTITY_INSERT [Pizza].[Crust] OFF
SET IDENTITY_INSERT [Pizza].[Prebuilt] ON 

INSERT [Pizza].[Prebuilt] ([id], [crustId], [name]) VALUES (1, 1, N'Cheese                        ')
INSERT [Pizza].[Prebuilt] ([id], [crustId], [name]) VALUES (2, 1, N'Pepperoni                     ')
INSERT [Pizza].[Prebuilt] ([id], [crustId], [name]) VALUES (3, 2, N'Patience                      ')
SET IDENTITY_INSERT [Pizza].[Prebuilt] OFF
INSERT [Pizza].[PrebuiltToppings] ([prebuiltId], [toppingId], [amount]) VALUES (1, 118, 1)
INSERT [Pizza].[PrebuiltToppings] ([prebuiltId], [toppingId], [amount]) VALUES (1, 119, 1)
INSERT [Pizza].[PrebuiltToppings] ([prebuiltId], [toppingId], [amount]) VALUES (2, 13, 1)
SET IDENTITY_INSERT [Pizza].[Size] ON 

INSERT [Pizza].[Size] ([id], [name]) VALUES (5, N'Large')
INSERT [Pizza].[Size] ([id], [name]) VALUES (4, N'Medium')
INSERT [Pizza].[Size] ([id], [name]) VALUES (2, N'Personal')
SET IDENTITY_INSERT [Pizza].[Size] OFF
SET IDENTITY_INSERT [Pizza].[Topping] ON 

INSERT [Pizza].[Topping] ([id], [name]) VALUES (1, N'Alfalfa Sprouts               ')
INSERT [Pizza].[Topping] ([id], [name]) VALUES (85, N'Almonds                       ')
INSERT [Pizza].[Topping] ([id], [name]) VALUES (84, N'Anchovies                     ')
GO
SET IDENTITY_INSERT [Pizza].[Topping] OFF
INSERT [Store].[Prebuilt] ([StoreId], [PrebuiltId]) VALUES (1, 1)
INSERT [Store].[Prebuilt] ([StoreId], [PrebuiltId]) VALUES (1, 2)
INSERT [Store].[Prebuilt] ([StoreId], [PrebuiltId]) VALUES (5, 1)
INSERT [Store].[Store] ([id], [name], [location]) VALUES (1, N'Pizza Pizza', NULL)
INSERT [Store].[Store] ([id], [name], [location]) VALUES (5, N'Jeritza''s Pizza', NULL)
INSERT [Users].[Users] ([id]) VALUES (2)
INSERT [Users].[Users] ([id]) VALUES (3)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__F3DBC5721D291903]    Script Date: 2020-01-24 01:51:18 ******/
ALTER TABLE [Logic].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Crust__5276644BFB8081D2]    Script Date: 2020-01-24 01:51:18 ******/
ALTER TABLE [Pizza].[Crust] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Prebuilt__77F0C7699B577683]    Script Date: 2020-01-24 01:51:18 ******/
ALTER TABLE [Pizza].[Prebuilt] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Size__72E12F1B937A3E6F]    Script Date: 2020-01-24 01:51:18 ******/
ALTER TABLE [Pizza].[Size] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Topping__51D2CD4C96653413]    Script Date: 2020-01-24 01:51:18 ******/
ALTER TABLE [Pizza].[Topping] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Location__72E12F1B245B0490]    Script Date: 2020-01-24 01:51:18 ******/
ALTER TABLE [Store].[Location] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__72E12F1B0B83ABE1]    Script Date: 2020-01-24 01:51:18 ******/
ALTER TABLE [Store].[Store] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Orders].[Orders] ADD  DEFAULT (getdate()) FOR [ordertime]
GO
ALTER TABLE [Orders].[PizzaToppings] ADD  DEFAULT ((1)) FOR [amount]
GO
ALTER TABLE [Pizza].[Crust] ADD  DEFAULT ('') FOR [description]
GO
ALTER TABLE [Pizza].[PrebuiltToppings] ADD  CONSTRAINT [DF_PrebuiltToppings_amount]  DEFAULT ((1)) FOR [amount]
GO
ALTER TABLE [Orders].[Orders]  WITH CHECK ADD FOREIGN KEY([storeid])
REFERENCES [Store].[Store] ([id])
GO
ALTER TABLE [Orders].[Orders]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [Users].[Users] ([id])
GO
ALTER TABLE [Orders].[Pizza]  WITH CHECK ADD FOREIGN KEY([crustId])
REFERENCES [Pizza].[Crust] ([id])
GO
ALTER TABLE [Orders].[Pizza]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [Orders].[Orders] ([id])
GO
ALTER TABLE [Orders].[Pizza]  WITH CHECK ADD FOREIGN KEY([size])
REFERENCES [Pizza].[Size] ([id])
GO
ALTER TABLE [Orders].[PizzaToppings]  WITH CHECK ADD FOREIGN KEY([toppingId])
REFERENCES [Pizza].[Topping] ([id])
GO
ALTER TABLE [Orders].[PizzaToppings]  WITH CHECK ADD  CONSTRAINT [FK_Pizza] FOREIGN KEY([orderId], [pizzaNum])
REFERENCES [Orders].[Pizza] ([orderId], [pizzaNum])
GO
ALTER TABLE [Orders].[PizzaToppings] CHECK CONSTRAINT [FK_Pizza]
GO
ALTER TABLE [Pizza].[Prebuilt]  WITH CHECK ADD FOREIGN KEY([crustId])
REFERENCES [Pizza].[Crust] ([id])
GO
ALTER TABLE [Pizza].[PrebuiltToppings]  WITH CHECK ADD FOREIGN KEY([prebuiltId])
REFERENCES [Pizza].[Prebuilt] ([id])
GO
ALTER TABLE [Pizza].[PrebuiltToppings]  WITH CHECK ADD FOREIGN KEY([toppingId])
REFERENCES [Pizza].[Topping] ([id])
GO
ALTER TABLE [Store].[CrustInventory]  WITH CHECK ADD FOREIGN KEY([Crustid])
REFERENCES [Pizza].[Crust] ([id])
GO
ALTER TABLE [Store].[CrustInventory]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [Store].[Store] ([id])
GO
ALTER TABLE [Store].[Prebuilt]  WITH CHECK ADD FOREIGN KEY([PrebuiltId])
REFERENCES [Pizza].[Prebuilt] ([id])
GO
ALTER TABLE [Store].[Prebuilt]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [Store].[Store] ([id])
GO
ALTER TABLE [Store].[Store]  WITH CHECK ADD FOREIGN KEY([location])
REFERENCES [Store].[Location] ([id])
GO
ALTER TABLE [Store].[Store]  WITH CHECK ADD  CONSTRAINT [FK_Store_ToLogin] FOREIGN KEY([id])
REFERENCES [Logic].[Logins] ([id])
GO
ALTER TABLE [Store].[Store] CHECK CONSTRAINT [FK_Store_ToLogin]
GO
ALTER TABLE [Store].[ToppingInventory]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [Store].[Store] ([id])
GO
ALTER TABLE [Store].[ToppingInventory]  WITH CHECK ADD FOREIGN KEY([ToppingId])
REFERENCES [Pizza].[Topping] ([id])
GO
ALTER TABLE [Users].[Users]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [Logic].[Logins] ([id])
GO
ALTER TABLE [Orders].[PizzaToppings]  WITH CHECK ADD CHECK  (([amount]>(0)))
GO
ALTER TABLE [Pizza].[PrebuiltToppings]  WITH CHECK ADD  CONSTRAINT [CK_ToppingAtLeast1] CHECK  (([amount]>=(1)))
GO
ALTER TABLE [Pizza].[PrebuiltToppings] CHECK CONSTRAINT [CK_ToppingAtLeast1]
GO
ALTER TABLE [Store].[CrustInventory]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [Store].[ToppingInventory]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
USE [master]
GO
